.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #e08e0b !important;
    border-color: #e08e0b !important;
}

.btn-primary {
  background-color: #21B6A8 !important;
}

#treeloading img { display: none; }

#treeloading img { 
    display: block; 
}

.hero-unit {
  padding: 30px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 200;
  line-height: 20px;
  color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  background: url(/tools/app/img/wallpapers-desktop-backgrounds-blue-green-background-light-wallpaper-abstract-digital-computer-graphic-waves-spots.jpg) no-repeat center center fixed !important;
  border-radius: 0px !important;
}

.hero-unit h4 {
  margin-bottom: 0;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.paginate_button:hover {
    color: #000 !important;
    border: none !important;
    background: #e5e5e5 !important;
    border-radius: 5px;
}


table {
    width: 100%;
    font-size: 14px;
}
table th {
    height: auto;
    font-size: 14px;
    padding: 15px 15px 2px;
    border-bottom: 0;
    text-align: center;
    color: #666666;
}

table th {
    font-weight: bold;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.modal-lg {
    width: 1300px;
}



.panel .panel-heading {
    background: #f9f9f9 !important;
}

.panel.with-nav-tabs .panel-heading{
    padding: 35px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
  border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
  margin-bottom: -1px;
}
/********************************************************************/
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
    background-color: #fff;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #fff;
  background-color: #21B6A8 !important;
  border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
    color: #fff;
  background-color: #21B6A8 !important;
  border-color: #ddd;
  border-bottom-color: transparent;
}

.widget-box {
    background: none repeat scroll 0 0 #fff;
    clear: both;
    margin-top: 16px;
    margin-bottom: 16px;
    border: 1px solid #CDCDCD;
    position: relative;
}

.widget-title {
  background: #21B6A8;
  border-bottom: 1px solid #CDCDCD;
  height: 45px;
}

.widget-title span.icon {
  padding: 6px 10px 12px 11px;
  float: left; border-right:1px solid #fff;
  color: #fff !important;
  line-height: 45px;
  font-size: 16px;
}

.widget-title h5 {
  color: #fff;
  float: left;
  font-size: 16px;
  padding: 12px;
  line-height: 35px;
  margin: 0;
}
.widget-title .buttons {
  float: right;
  margin: 8px 10px 0 0;
}
.widget-title .label {
  padding: 3px 5px 2px;
  float: right;
  margin: 9px 11px 0 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3) inset, 0 1px 0 #ffffff;
}
.widget-calendar .widget-title .label {
  margin-right: 190px;
}

.widget-box.widget-plain .widget-content {
  padding: 12px 0 0;
}

.widget-content {
    padding: 15px;
}

.container-fluid .row-fluid:first-child {
    margin-top: 20px;
}

.assigned {
  padding: 0 1rem 0 0;
  display: table; 
  margin-left: 2rem;
  margin-top: 0;
  margin-bottom: 2rem;

}

.assigned-date {
  margin: 0 auto 0 auto;
  display: table-cell;
  width: 18rem; }
  .assigned-date .assigned-month {
    margin: 0;
    background: #eee;
    padding: 0;
    text-align: center; }
  .assigned-date .assigned-day {
    margin: 0;
    border: 1px solid #eee;
    padding: 0 1rem;
    text-align: center;
    font-size: 1.7rem; }

.assigned-desc {
  padding: .25rem 0 0 1rem;
  display: table-cell;
  vertical-align: top; 
  width: 40rem;
  margin-left: 8rem;
  }
  .assigned-desc .assigned-desc-header {
    margin: 0 0 0 3rem;
    padding: 0; }
  .assigned-desc .assigned-desc-detail {
    margin: 0 0 0 3rem;
    padding: 0; }
  .assigned-desc .assigned-desc-time {
    font-weight: bold; }
  .assigned-desc .rsvp.btn {
    padding-top: 0.4rem;
    padding-bottom: 0.5rem;
    margin: 0 0 0 3rem; }



#paging-content {
    position:relative;
    height:400px;
}
#paging-content .page {
    position:absolute;
    top:0px;
}
.paginationy {
    padding: 2px;
}
.paginationy ul{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    font-size: 12px;

}
.paginationy li{
    list-style-type: none;
    display: inline;
    
}
.paginationy a, .paginationy a:visited{
    padding: 5px;
    text-decoration: none;
    color: #2e6ab1;
}
.paginationy a:hover, .paginationy a:active{
    color: #fff;
    background: rgba(0,125,186,.8);
}
.paginationy a.prevnext{
    font-weight: bold;
}

#paging-contentx {
    position:relative;
    height:400px;
}

#paging-contentx .pagex {
    position:absolute;
    top:0px;
}

.paginationx {
    padding: 2px;
}
.paginationx ul{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    font-size: 12px;


}
.paginationx li{
    list-style-type: none;
    display: inline;

}
.paginationx a, .paginationx a:visited{
    padding: 5px;
    text-decoration: none;
    color: #2e6ab1;
}
.paginationx a:hover, .paginationx a:active{
    color: #fff;
    background: rgba(0,125,186,.8);
}
.paginationx a.prevnext{
    font-weight: bold;
}



.dataTables_wrapper .dataTables_paginate {
    display: block;
    float: left !important;
    width: 100%;
}

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.alert {
    font-size: 15px !important;
    font-weight: lighter !important;
}

#block_error{
      width: 1200px;
      height: 384px;
      border: 1px solid #cccccc;
      margin: 72px auto 0;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      background: #fff url(http://www.ebpaidrev.com/systemerror/block.gif) no-repeat 0 51px;
  }
#block_error div{
      padding: 100px 40px 0 186px;
  }
#block_error div h2{
      color: #218bdc;
      font-size: 24px;
      display: block;
      padding: 0 0 14px 0;
      border-bottom: 1px solid #cccccc;
      margin-bottom: 12px;
      font-weight: normal;
  }

#block_error p{
      font-size: 14px;
      color: #373737;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 20px;
  }
#block_error p a{
      color: #218bdc;
      font-size: 14px;
      text-decoration: none;
  }
#block_error a{
      outline: none;
  }


.alert {
    padding: 15px !important;
    background-color: #fafafa !important;
    border-left: 6px solid #21B6A8 !important;
    margin-bottom: 10px !important;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2) !important;
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2) !important;
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2) !important;
}
.alert-sm {
    padding: 10px !important;
    font-size: 80% !important;
}
.alert-lg {
    padding: 35px !important;
    font-size: large !important;
}
.alert-success {
    border-color: #80D651 !important;
    color: #000 !important;
}
.alert-success>strong {
    color: #80D651 !important;
}
.alert-info {
    border-color: #21B6A8 !important;
    color: #000 !important;
}
.alert-info>strong {
    color: #21B6A8 !important;
}
.alert-warning {
    border-color: #FEAF20 !important;
    color: #000 !important;
}
.alert-warning>strong {
    color: #FEAF20;
}
.alert-danger {
    border-color: #d73814;
    color: #000 !important;
}
.alert-danger>strong {
    color: #d73814;
}
